<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/complainstyle.css">
    <title>complain</title>
  </head>
  <body>
    <section>
      <div class="complain">
        <li>Please, Consider the following terms and conditions</li>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque,
          magni? Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Accusamus, ipsa.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque,
          magni?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque,
          magni?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque,
          magni?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque,
          magni?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque,
          magni?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque,
          magni?
        </p>
      </div>
    </section>
    <section class="complain-form">
      <form action="/complainsecond" method="post">
      <div class="wrapper">
        <div class="title">Complain Registration Form</div>
        <div class="form">
          <div class="input_field">
            <label>First Name</label>
            <input type="text" class="input" name="firstname" required/>
          </div>
          <div class="input_field">
            <label>Last Name</label>
            <input type="text" class="input" name="lastname" required/>
          </div>
          <div class="input_field">
            <label>Gender</label>
            <div class="custom_select">
              <select name="gender" id="choose">
                <option value="">Select</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
          </div>
          
          <div class="input_field">
            <label>Date of Registration</label>
            {{!-- <input type="datetime-local" name="dateandtime" class="input" required/> --}}
            <input type="text" name="dateandtime" class="input" id="cdate" value="{{dateandtime}}" readonly>
          </div>
          <div class="input_field">
            <label>Email Address</label>
            <input type="email" class="input" name="email" value="{{email}}" readonly/>
          </div>
          
          <div class="input_field">
            <label>Phone Number</label>
            <input type="text" class="input" name="number" required/>
          </div>
          <div class="input_field">
            <label>Address</label>
            <textarea class="textarea" name="address"></textarea>
          </div>
          <div class="input_field">
            <label>Area</label>
            <input type="text" class="input" name="area" required></input>
          </div>
          <div class="input_field">
            <label>Department</label>
            <input type="text" class="input" name="department" required></input>
          </div>
         
          <div class="input_field">
            <label>Complain-Description</label>
            <textarea class="textarea" name="description"></textarea>
          </div>
         
          <div class="input_field terms">
            <label class="check">
              <input type="checkbox" />
              <span class="checkmark"></span>
            </label>
            <p>Agreed to terms and conditions</p>
          </div>
          <div class="input_field">
            <input type="submit" value="register" class="btn" />
          </div>
        </div>
      </div>
      </form>
    </section>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></scri>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>
