* {
  margin: 0;
  padding: 0;
  font-family: 'Source Serif 4', sans-serif;
}
html{
  scroll-behavior: smooth;
}
#loading{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #fff
	url('../img/loader.gif')
	 no-repeat center center;	
	z-index: 99999;
}
.home{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/vadodaramunicipal.jpg);
  background-size: cover;
  background-position: center;
}

img {
  width: 100px;
  height: 70px;
  margin-left: 0px;
  cursor: pointer;
}

.navbar-nav{
  margin-left: 50px;
}
.navbar-nav li{
  font-size: 18px;
  font-weight: bolder;
  font-family: 'Baloo Bhaijaan 2', cursive;
}
#str{
  margin-right: 50px;
}
.nav-item{
  margin: 20px;
}
#navb{
  display: flex;
  align-items: center;
  top: 0px;
}
#navb::before{
  content: "";
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.6;
}
.smit{
  width: 770px;
    margin-top: 140px;
    margin-left: 210px;
}
.smit h1{
  width: 366px;
  color: #ffce3e !important;
  font-weight: 900;
}
.smit p{
  color: white;
  margin-top: 23px;
  font-family: 'Andada Pro', serif;
  font-size: 18px;
}
.pagination{
  background: #ddd;
  font-family: 'Andada Pro', serif;
  padding-bottom: 70px;
}
.section-header{
  text-align: center;
  margin-bottom: 30px;
  margin-top: 65px;
}
.single-service{
  border: 1px solid #ebebeb;
  text-align: center;
  background: #fff;
}
.service-bg{
  height: 200px;
  position: relative;
}
.service-bg-1{
  background: url("../img/street.jpg");
  background-size: cover;
  background-position: center;
}
.service-bg-2{
  background: url("../img/road.jpg");
  background-size: cover;
  background-position: center;
}
.service-bg-3{
  background: url("../img/garbage.jpg");
  background-size: cover;
  background-position: center;
}
.service-bg h2{
  color: #fff;
  background: tomato;
  border: 1px solid tomato;
  font-size: 17px;
  text-align: center;
  font-weight: 700;
  padding: 15px;
  position: absolute;
  left: 8%;
  width: 84%;
  margin: 0;
  bottom: -25px;
  border-radius: 25px;
  letter-spacing: 2px;
}
.single-service:hover .service-bg h2{
  background: #fff;
  transition: 0.5s;
  color: tomato;
}
.service-text{
  padding: 50px 30px 20px;
  font-size: 15px;
  font-weight: 400;
}
.service-text p{
  margin: 0;
  line-height: 1.8;
}
.btn-area{
  display: inline-block;
  color: #333;
  font-size: 17px;
  font-weight: 700;
  margin-top: 30px;
  text-transform: capitalize;
}
.model-body{
  padding: 3px 47px;
}
form .data {
  height: 45px;
  width: 100%;
  margin: 39px 0;
}

form .data label {
  font-size: 18px;
}

form .data input {
  height: 100%;
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid silver;
}

form .data input:focus {
  border-color: #3498db;
  border-bottom-width: 2px;
}

form .forgot-pass {
  margin-top: 18px;
}

form .forgot-pass a {
  color: #3498db;
  text-decoration: none;
}

form .forgot-pass a:hover {
  text-decoration: underline;
}

form .signup-link {
  text-align: center;
}

form .signup-link a {
  color: #3498db;
  text-decoration: none;
}

form .signup-link a:hover {
  text-decoration: underline;
}

form .btn1 {
  width: 100%;
  color: white;
  height: 35px;
  border: 1px solid;
  background-color: #2691d9;
  border-radius: 25px;
  margin: 15px 0;
  transition: all 0.4s;
}

form .btn1:hover {
  border-color: #2691d9;
  transition: 0.3s;
}

/* body {
  background-color: #9fc4fb;
}  */

.container-fluid {
  background-color: #010449;
  margin: 69px 30px;
}

.msg-form {
  background-color: white;
  padding: 20px;
}

.pad-icon {
  padding-top: 50px;
  padding-left: 20px
}

.pad-icon a {
  text-decoration: none;
  margin-right: 40px
}

.input-group input:focus {
  border: 1px solid blue
}

.pad-icon a:active {
  height: 30px;
  width: 30px;
  background-color: #0080ff;
  border-radius: 100%
}

.links {
  padding-top: 50px;
  width: 50%
}

#bordering a:active {
  border: 1px solid #0080ff
}

@media(min-width:568px) {
  .container-fluid {
      margin: 100px 30px;
      width: 96%;
      padding-top: 50px;
      padding-bottom: 50px
  }
}

@media(max-width:567px) {
  .container-fluid {
      margin: 10px 10px;
      width: 94%;
      padding-top: 20px;
      padding-bottom: 20px
  }

  .pad {
      padding-top: 20px
  }
}

.section{
	width: 100%;
	min-height: 100vh;
	background-color: rgb(241, 222, 222);
}
.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
}
.content-section{
	float: left;
	width: 55%;
}
.image-section{
	float: right;
	width: 40%;
}
.image-section img{
	width: 100%;
	height: auto;
}
.content-section .title{
	text-transform: uppercase;
	font-size: 28px;
}
.content-section .content h3{
	margin-top: 20px;
	color:#5d5d5d;
	font-size: 21px;
}
.content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
.content-section .content .button{
	margin-top: 30px;
}
.content-section .content .button a{
	background-color: #3d3d3d;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
	background-color: #a52a2a;
	color:#fff;
}
.content-section .social{
	margin: 40px 40px;
}
.content-section .social i{
	color:#a52a2a;
	font-size: 30px;
	padding:0px 10px;
}
.content-section .social i:hover{
	color:#3d3d3d;
}
@media screen and (max-width: 768px){
	.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.image-section{
	float:none;
	width:100%;
	
}
.image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.content-section .title{
	text-align: center;
	font-size: 19px;
}
.content-section .content .button{
	text-align: center;
}
.content-section .content .button a{
	padding:9px 30px;
}
.content-section .social{
	text-align: center;
}

}

footer{
  background-color: black;
  color: white;
  height: auto;
  font-family: "Open Sans";
  padding-top: 40px;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;
}
.socials a:hover{
  color: aqua;
}
.footer-bottom{
  background: #000;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

